body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flexible-section{
    display: flex;
    margin-bottom: 50px;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
    
}
.top-part-div{
    width: 40%;
    padding-left: 5%;
    margin-left: 5%;

}
.button{
    width: 20%;
    text-decoration: none;
    color:white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 20px;
    display: block;
    margin-top:20px;
    box-shadow: 3px 3px 0 #575757;
}
.image{
    width: 75%;
    padding-left:20 px;
}
.middle-section{
    background-image: url(images/midlle-background.png);
    background-position: initial;
    margin-right: 1%;
    margin-left: 1%;
}
section div a{
    width: 20%;
    text-decoration: none;
    color:white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 20px;
    display: block;
    margin-top: 200px;
    box-shadow: 3px 3px 0 #575757;
}
.center{
    margin: 0 20%;
    text-align: center;
}
.food-part{
    width: 32%;
    padding: 2%;
    margin: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
}
.image-size{
    width: 96%;
    border-radius: 10px;
}
#social{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}
.social-site{
    width: 30%;
    padding-left: 10%;
    margin-bottom: 3%;
    
}
.social-site h2{
    font-size: 50px;
}
  .container {
    width: 20%;
    padding-left: 5px;
    margin-left: 5px;
    border-radius: 20px;
    background-image: linear-gradient(white,rgb(212, 99, 99));
  }
  label{
    width: 100%;
      padding-left: 5px;
      display: inline-block;
  }
    .container input{
        width: 90%;
        margin: 2px;
        display: inline-block;
        border: 1px dashed gray;
        border-radius: 10px;
        box-sizing: border-box;
  }
  .subscribe{
    width: 15%;
    padding-left:1px;
    margin-left: 5px;
    
    border-radius: 20px;
    background-color: rgba(39, 35, 35, 0.781);
  }
  .subscribe button{
      width: 20%;
      padding-left: 20%;
      margin-left: 2%;
      font-weight: bold;
        display: inline-block;
        border: 1px  rgb(180, 140, 140);
        border-radius: 10px;
        box-sizing: border-box;
        background-image: linear-gradient(rgb(216, 208, 194),rgb(180, 161, 158));
  }
  #padding{
      margin-left:30%;
  }

#footer-part{
    width: 98%;
    height: 200px;
    color:gray;
    display: block;
    text-align: center;
    background-image: linear-gradient(black,gray);
    margin-top: 50px;
    margin-right: 1%;
    margin-left:1%;
    padding: 2px;

}
footer h2{
    font-size: 30px;
    font-weight: 700;
}
footer p{
    font-size: 12px;
    font-weight: 50;
    color: rgb(202, 168, 226);
}